* {
  box-sizing: border-box;
}
html {
  min-width: 320px;
}
body {
  background: url('../../assets/img/random_grey_variations.png') repeat;
}
.container,
.container-fluid {
  width: 100%;
  padding: 0;
  margin: 0;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
[class*="col-"] {
  float: left;
  padding: 15px;
}
[class*="col-"] {
  width: 100%;
}
.img {
  display: block;
  margin: auto;
  text-align: center;
  max-width: 100%;
}
.btn {
  cursor: pointer;
}
#clock {
  border-radius: 10px;
  border: 5px solid  #331a00;
  background-color: black;
  -webkit-box-shadow: inset -1px -6px 49px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset -1px -6px 49px -6px rgba(0, 0, 0, 0.75);
  box-shadow: inset -1px -6px 49px -6px rgba(0, 0, 0, 0.75);
}
#control-panel {
  margin: auto;
  text-align: center;
  color: #ffffff;
}
#clock-display {
  margin: auto;
  text-align: center;
  margin: 10px 0 10px 0;
  background-color: #331a00;
  border: 6px inset #2a2a2a;
  border-top: 0;
  border-radius: 0 0 5px 5px;
  -webkit-box-shadow: inset -1px -6px 49px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset -1px -6px 49px -6px rgba(0, 0, 0, 0.75);
  box-shadow: inset -1px -6px 49px -6px rgba(0, 0, 0, 0.75);
}
#lights-display {
  -webkit-box-shadow: inset -1px -6px 49px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset -1px -6px 49px -6px rgba(0, 0, 0, 0.75);
  box-shadow: inset -1px -6px 49px -6px rgba(0, 0, 0, 0.75);
  margin: auto;
  text-align: center;
  height: 200px;
  background: url('../../assets/img/grey-texture.jpg');
  border: 6px inset #373737;
  border-bottom: 0;
  border-radius: 5px 5px 0 0;
}
.time-display {
  transform: rotateZ(90deg);
  font-size: 6em;
  color: #000000;
  background-color: #ffffff;
  border-radius: 4px;
  padding: 0 3px 0 3px;
  -webkit-box-shadow: inset -1px -6px 49px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset -1px -6px 49px -6px rgba(0, 0, 0, 0.75);
  box-shadow: inset -1px -6px 49px -6px rgba(0, 0, 0, 0.75);
}
.light-wrapper {
  display: inline-block;
}
.light-cover {
  position: absolute;
  z-index: 100;
  width: 150px;
  height: 60px;
  opacity: .2;
  border-radius: 7px;
  background: url('../../assets/img/light_texture.jpg');
}
.light {
  position: relative;
  margin: auto;
  text-align: center;
  font-size: 2em;
  -webkit-box-shadow: inset -1px -6px 49px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset -1px -6px 49px -6px rgba(0, 0, 0, 0.75);
  box-shadow: inset -1px -6px 49px -6px rgba(0, 0, 0, 0.75);
  border-radius: 7px;
  font-family: 'Open Sans', sans-serif;
  padding: 5px;
}
#work-light {
  width: 150px;
  border: 5px outset #532900;
  background-color: #773c00;
  color: #532900;
}
#rest-light {
  width: 150px;
  border: 5px outset #004200;
  background-color: #005900;
  color: #004200;
}
#work-light.light-on {
  color: #fff0e1;
  background-color: #fa5505;
  border-color: #773c00;
}
#rest-light.light-on {
  color: #ceffce;
  background-color: #00c400;
  border-color: #005900;
}
.light-on {
  -webkit-box-shadow: 5px 9px 17px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 9px 17px -3px rgba(0, 0, 0, 0.75);
  box-shadow: 5px 9px 17px -3px rgba(0, 0, 0, 0.75);
}
@media only screen and (min-width: 900px) {
  .container {
    padding: 125px 125px 0 125px;
  }
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
  #clock {
    width: 600px;
    margin: auto;
    text-align: center;
  }
  #lights-display {
    height: 100px;
  }
}
/* less rules */
.outline {
  border: 1px solid black;
}
.centered {
  margin: auto;
  text-align: center;
}
.shadowed {
  -webkit-box-shadow: inset -1px -6px 49px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset -1px -6px 49px -6px rgba(0, 0, 0, 0.75);
  box-shadow: inset -1px -6px 49px -6px rgba(0, 0, 0, 0.75);
}
.open-sans-font {
  font-family: 'Open Sans', sans-serif;
}
